body {
    margin: 0 auto;
    overflow: hidden;
    color: #fff;
    background: #222;
}
.loading {
    position: fixed;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
    background: #222;
}
#version { 
    position: fixed;
    bottom: 5px;
    left: 5px;
}
.loading p {
    color: white;
    font-size: 25px;
    text-align:center;
    font-family: helvetica;
}

button {
    display:block;
    border: 1px solid rgba(200,200,200,0.45);
    background: rgba(255,255,255,0.45);
    margin-bottom: 5px;
}